<footer class="footer">
  <nav class="footer__nav">
    <ul class="footer__nav--link">
      <li class="nav__link--one">Link1</li>
      <li class="nav__link--two">Link2</li>
      <li class="nav__link--three">Link3</li>
      <li class="nav__link--four">Link4</li>
    </ul>
  </nav>
  <div class="footer__social">
    <ul class="footer__social--list">
      <li class="social__list--icon">FB</li>
      <li class="social__list--icon">TW</li>
      <li class="social__list--icon">G+</li>
    </ul>
  </div>
</footer>
