<header class="header">
  <div class="header__title">
    <img
      class="header__title--logo"
      src="./assets/images/logo.png"
      alt="Logo"
    />
    <h1 class="header__title--name">LayoutDeEjemplo</h1>
  </div>
  <nav class="header__nav">
    <ul class="header__nav--list">
      <li class="nav__list-item">Link1</li>
      <li class="nav__list-item">Link2</li>
      <li class="nav__list-item">Link3</li>
      <li class="nav__list-item">Link4</li>
    </ul>
  </nav>
</header>
