.aside {
  @include desktop {
    background-color: green;
    margin-right: 6rem;
    width: 27vw;
    &__section {
      display: flex;
      flex-direction: column;
      align-items: center;
      &--div {
        background-color: $primary-color;
        margin: 2rem 2rem -1rem 2rem;
        width: 15vw;
        height: 20vh;
      }
    }
  }
}
