.footer {
  background-color: $primary-color;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: $text-font;
  color: $font-links-color;
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__nav {
    display: flex;
    justify-content: center;

    &--link {
      display: flex;
      justify-content: space-around;
      width: 80vw;
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: $link-color;
      @include desktop {
        width: 20vw;
      }
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    &--list {
      background-color: $social-color;
      display: flex;
      justify-content: space-around;
      width: 10rem;
      height: 3rem;
      align-items: center;
    }
  }
}
