.header {
  display: flex;
  flex-direction: column;
  font-family: $text-font;
  background-color: $primary-color;
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__title {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    @include desktop {
      display: flex;
      justify-content: left;
      width: 50%;
    }

    &--logo {
      width: 4rem;
      @include desktop {
        width: 5rem;
        height: 5rem;
      }
    }
    &--name {
      font-size: 3rem;
      padding-top: 1rem;
    }
  }
  &__nav {
    color: $font-links-color;

    &--list {
      background-color: $link-color;
      display: flex;
      justify-content: space-around;
      padding-top: 2rem;
      padding-bottom: 2rem;
      font-size: 1.5rem;
      &--item {
        width: 2rem;
      }

      @include desktop {
        width: 40vw;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        margin-left: 3rem;
        margin-right: 3rem;
      }
    }
  }
}
