@import 'core/_keyframes.scss';
.header {
  display: flex;
  flex-direction: column;
  font-family: $text-font;
  background-color: $primary-color;
  width: 100vw;
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__title {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    @include desktop {
      display: flex;
      justify-content: left;
      width: 40%;
    }

    &--logo {
      width: 3.4rem;
      @include desktop {
        width: 3.5rem;
        height: 3.5rem;
        margin-right: 0.5rem;
      }
    }
    &--name {
      font-size: 2rem;
      padding-top: 1rem;
    }
  }
  &__nav {
    color: $font-links-color;

    @include tablet {
      display: flex;
      justify-content: center;
    }

    &--ul {
      background-color: $link-color;
      display: flex;
      font-size: 1.5rem;

      @include desktop {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        margin-left: 3rem;
        margin-right: 3rem;
      }
    }
  }
}
.nav__ul--item {
  width: 8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: aqua;
    -webkit-animation: rotate-scale-up-diag-2 0.7s linear both;
    animation: rotate-scale-up-diag-2 0.7s linear both;
  }
}
