@import 'core/reset';
@import 'core/variables';
@import 'core/mixin';
@import 'components/code';
@import 'components/links';
@import 'layout/header';
@import 'layout/article';
@import 'layout/aside';
@import 'layout/footer';

.main {
  &__section {
    height: 100vh;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-left: solid rgb(214, 210, 210) 6rem;
    &__section {
      display: flex;
      flex-direction: column;
    }
  }
}
